<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

    <div layout:fragment="content">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${todo.title}"></h5>
                <p class="card-text" th:text="${todo.content}"></p>
                <p>완료여부 :
                    <span th:if="${todo.completed}" class="badge bg-success">완료</span>
                    <span th:unless="${todo.completed}" class="badge bg-warning">진행중</span>
                </p>
                <a th:href="@{/todos/detail/{id}/toggle(id=${todo.id})}">완료여부변경</a>
                <a th:href="@{/todos/delete/{id}(id=${todo.id})}" class="btn btn-warning">delete</a>
                <a th:href="@{/todos/update/{id}(id=${todo.id})}" class="btn btn-danger">edit</a>
            </div>
        </div>

    </div>
