
    <html lang="en"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

        <div layout:fragment="content">
            <h1>할일목록</h1>
            <br>
            <!--    <div th:each="todo:${list}" th:text="${todo.id}">-->
            <div th:each="todo:${todos}">
                <p th:text="${todo.title}"></p>
                <a th:href="@{/todos/detail/{id}(id=${todo.id})}">detail</a>
            </div>
        </div>
