
    <html lang="en"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

        <div layout:fragment="content">
            <div>
                <div>
                    전체 할일: <p th:text="${total}"></p>
                 </div>
                <div>
                    미완료 수: <p th:text="${active}"></p>
                </div>
                <div>
                    완료된 수: <p th:text="${completed}"></p>
                </div>
            </div>


           <table class="table table-striped">
               <thead>
                   <th>Id</th>
                   <th>Title</th>
                   <th>Completed</th>
                   <th>Detail</th>
               </thead>
               <tbody>
                <tr th:each="todo:${todos}">
                    <td th:text="${todo.id}"></td>
                    <td th:text="${todo.title}"></td>
                    <td>
                        <span th:if="${todo.completed}" class="badge bg-success">완료</span>
                        <span th:unless="${todo.completed}" class="badge bg-warning">진행중</span>
                    </td>
                    <td>
                        <a th:href="@{/todos/detail/{id}(id=${todo.id})}" class="btn btn-primary">detail</a>
                    </td>
                </tr>
               </tbody>
           </table>
        </div>
